{% extends 'room/main.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>
    .home-container{
      display:grid;
      grid-template-columns:1fr 3fr 1fr;
      grid-gap:15px;
    }
  </style>
</head>
<body>
  <br>
  <br>
  <a href="{% url 'home' %}">Home</a>
  <br>
  <br>
  <form method="GET" action="{% url 'all_rooms' %}">
  <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Rooms"/>
  </form>
<div class="home-container">
  
  <!----- topics ------>
  <div>
    {% include 'room/topics_component.html' %}
  </div>
  <!---- Topics ended ------>
  
  
  <!------- Rooms ------->
  
  <div>
    
<h3>{{room_count}} rooms available</h3>
<a href="{% url 'create-room' %}">Create Room</a>
<br>
<br>
<hr>
<div>
    {% include 'room/feed_component.html' %}
</div>

</div>

<!---- Room feeds ----->


<!---- rooms activity------>
  <div>
    {% include 'room/activity_component.html' %}
  </div>
  <!---- rooms activity end ------>
  
  
  <!---- home container end ----->
</div>
</body>

</html>

{% endblock %}