<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
</head>

<body>
<div>
  {% if page == 'login' %}
  <form method="POST" action="">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username"
    id="" placeholder="Enter username"/>
    <br>
    <br>
    <label>Password</label>
    <input type="password" name="password" id="" placeholder="Enter Password"/>
    <br>
    <br>
  <input type="submit" value="Submit" />
 <p>Haven't Signed Up?</p>
 <a href="{% url 'register' %}">Register</a>
  </form>
  <br>
  
  {% else %}
  
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      <h2>Create an account</h2>
      {{form.as_p}}
 <button type="register">Register</button>
    </form>
  <p>Already Signed Up?</p>
 <a href="{% url 'login' %}">Login</a>
  </div>

</div>
{% endif %}

  <div>
  {% if messages %}
  
  {% for message in messages %}
  
  <div>{{message}}</div>
  
  {% endfor %}
  
  {% endif %}
</div>
</body>

</html>