{% extends 'room/main.html' %}

{% block content %}
<br>
<style>
  .profile-container{
    display: grid;
    grid-template-columns:1fr;
  }
</style>
<br>
<a href="{% url 'home' %}">Go Home</a>
<br>
{% if request.user == profile.user %}
<h2>My Profile</h2>
{% else %}
<h1>Profile for {{profile.user.username}}</h1>
{% endif %}
<p>{{profile.user.first_name}}</p>
<p>{{profile.user.last_name}}</p>
<p>{{profile.user.email}}</p>
<p> {{profile.bio}}</p>
website <a href="{{profile.website}}">{{profile.website}}</a>
<br>
<br>
{% if request.user == profile.user %}
<a href="{% url 'edit_profile' user.username %}">Edit Profile</a>
{% endif %}
{% if profile != request.user.profile %}
<form method="post">
    {% csrf_token %}
 <div>
{% if profile in user.profile.follows.all %}
<div>
 <button disabled="True">Follow</button>
<button name="follow" value="unfollow"> Unfollow</button>
  {% else %}
  <button name="follow" value="follow">Follow </button>
<button disabled="True">Unfollow
</button>
</div>
{% endif %}
</div>
</form>
{% endif %}

<div>
<h3>Followings:</h3>
{% for following in profile.follows.all %}
<a href="{% url 'profile' following.user.username %}">{{following}}</a>

{% endfor %}
<br>
</div>

<div>
<h3>Followers:</h3>
{% for follower in profile.followed_by.all %}

<a href="{% url 'profile' follower.user.username %}">{{follower}}</a>


{% endfor %}
</div>


{% endblock %}